Repository DEPthes/MJU-Council-Web, pull requests merged in 2024-12, with the labels that each got.

#38 [fix/#37] 이미지 로드 및 QA 기반 수정
  src/assets/banner_dummy.json
  src/assets/image/Banner1.svg
  src/assets/image/Banner2.svg
  src/assets/image/Banner3.svg
  src/assets/image/Banner4.svg
  src/components/Home/Banner.tsx
  src/components/Home/Footer.tsx
  src/components/Home/NavBar.tsx
  src/components/Introduction/CentralCommitee/StudentOrganization.tsx
  src/components/Introduction/EachPartIntroduction/EachPartIntroductionContent.tsx
  src/components/Introduction/IntroductionBtn.tsx
  src/components/Introduction/IntroductionContent.tsx
  src/components/Introduction/Organization/OrganizationContent.tsx
  src/pages/Introduction/IntroductionPage.tsx
  src/pages/SideMenuPage/SideMenu.tsx
  src/styles/Home/Component/BannerComponentStyle.ts
  src/styles/Home/Component/HomeCategoryComponentStyle.ts
  src/styles/Home/Component/NavBarComponentStyle.ts
  src/styles/Introduction/CentralCommitee/StudentOrganization.ts
  src/styles/Introduction/EachPartIntroduction/EachPartIntroductionContent.ts
  src/styles/Introduction/IntroductionContent.ts
  src/styles/Introduction/Organization/OrganizationContent.tsx
  src/styles/SideMenu/SideMenuComponentStyle.ts
Labels: 🎨 Html&css, 🐞 BugFix

#41 refector: 정책 목록 공약 진행도 데이터 전송 방식 수정
  src/components/ActivityReport/PolicyList/PolicyListComponent.tsx
  src/components/ActivityReport/PolicyList/PolicyListPromiseComponent.tsx
  src/types/ActivityReport/PolicyList/index.ts
  src/utils/ActivitiyReport/index.ts
Labels: 🔨 Refactor

#45 [Feat/#39] 공지사항 API 연동
  .gitignore
  package-lock.json
  package.json
  src/App.tsx
  src/Router.tsx
  src/apis/event.ts
  src/apis/notice.ts
  src/components/News/DetailContent.tsx
  src/components/News/EventListCard.tsx
  src/components/News/EventListDetail.tsx
  src/components/News/EventListGuideCard.tsx
  src/hooks/event/useEvent.ts
  src/hooks/event/useEventGuide.ts
  src/hooks/event/useEvents.ts
  src/hooks/notice/useNotice.ts
  src/hooks/notice/useNotices.ts
  src/pages/News/EventListDetailPage.tsx
  src/pages/News/EventListGuideDetailPage.tsx
  src/pages/News/EventListPage.tsx
  src/pages/News/NoticeListDetailPage.tsx
  src/pages/News/NoticeListPage.tsx
  src/types/News/event.ts
  src/types/News/notice.ts
  src/types/common.ts
  src/vite-env.d.ts
  tsconfig.app.json
  vite.config.ts
Labels: 📬 API

#51 Feat/#50 사업목록api
  src/apis/business.ts
  src/components/ActivityReport/BusinessDetail/BusinessDetailComponent.tsx
  src/components/ActivityReport/BusinessLlist/BusinessListComponent.tsx
  src/components/common/SearchComponent.tsx
  src/hooks/activityReport/business/useBusiness.ts
  src/pages/ActivityReport/BusinessListDetailPage.tsx
  src/pages/ActivityReport/BusinessListPage.tsx
  src/pages/ActivityReport/BusinessSearchResultPage.tsx
  src/types/ActivityReport/business.ts
Labels: 🐞 BugFix, 📬 API

#52 Feat/#49 정책목록api
  src/apis/ActivityReport/policy.ts
  src/components/ActivityReport/PolicyList/PolicyListComponent.tsx
  src/components/ActivityReport/PolicyList/PolicyListPromiseComponent.tsx
  src/components/ActivityReport/PolicyList/PolicyListTab.tsx
  src/hooks/activityReport/policy/usePromise.ts
  src/pages/ActivityReport/PolicyListPage.tsx
  src/types/ActivityReport/PolicyList/index.ts
  src/types/ActivityReport/policy.ts
Labels: 📬 API

#54 Feat/#53 제휴현황 api
  src/apis/ActivityReport/business.ts
  src/apis/ActivityReport/coalition.ts
  src/components/ActivityReport/Coalition/CoalitionItem.tsx
  src/components/ActivityReport/CoalitionDetail/CoalitionDetailComponent.tsx
  src/components/ActivityReport/PolicyList/PolicyListComponent.tsx
  src/components/ActivityReport/PolicyList/PolicyListTab.tsx
  src/hooks/activityReport/useBusiness.ts
  src/hooks/activityReport/useCoalition.ts
  src/hooks/activityReport/usePromise.ts
  src/pages/ActivityReport/BusinessListDetailPage.tsx
  src/pages/ActivityReport/BusinessListPage.tsx
  src/pages/ActivityReport/BusinessSearchResultPage.tsx
  src/pages/ActivityReport/CoalitionDetailPage.tsx
  src/pages/ActivityReport/CoalitionPage.tsx
  src/types/ActivityReport/Coalition/index.ts
  src/types/ActivityReport/coalition.ts
Labels: 📬 API

#46 [feat/#40] 자료집 API 연동
  src/apis/minutes.ts
  src/apis/regulations.ts
  src/components/Document/DocumentDetailContent.tsx
  src/components/Document/RegulationsListItem.tsx
  src/components/News/DetailContent.tsx
  src/hooks/minutes/useMinutes.ts
  src/hooks/minutes/useMinutesDetail.ts
  src/hooks/regulations/useAllRegulations.ts
  src/hooks/regulations/useRegulationsDetail.ts
  src/pages/Document/MinutesListDetailPage.tsx
  src/pages/Document/MinutesListPage.tsx
  src/pages/Document/RegulationsListDetailPage.tsx
  src/pages/Document/RegulationsListPage.tsx
  src/pages/News/NoticeListPage.tsx
  src/styles/News/DetailContentStyle.ts
  src/styles/News/EventListDetailStyle.ts
  src/types/Document/minutes.ts
  src/types/Document/regulations.ts
  src/types/common.ts
Labels: 📬 API

#55 Feat/#44 메인페이지 api 연동
  src/apis/home.ts
  src/components/Home/Banner.tsx
  src/components/Home/HomeNotice.tsx
  src/styles/Home/Component/BannerComponentStyle.ts
  src/styles/Home/Component/HomeNoticeComponentStyle.ts
Labels: 📬 API

#56 [feat] 행사 세부사항 파일 추가
  src/apis/event.ts
  src/apis/index.ts
  src/apis/minutes.ts
  src/apis/notice.ts
  src/apis/regulations.ts
  src/pages/News/EventListGuideDetailPage.tsx
  src/types/News/event.ts
  vite.config.ts
Labels: 📬 API

#57 [feat] 모든 api baseUrl 수정
  src/apis/business.ts
  src/apis/coalition.ts
  src/apis/home.ts
  src/apis/introduction.ts
  src/apis/policy.ts
  src/hooks/activityReport/useBusiness.ts
  src/hooks/activityReport/useCoalition.ts
  src/hooks/activityReport/usePromise.ts
Labels: 📬 API

#58 [refactor] 안쓰는 이미지 삭제
  src/assets/home_dummy.json
  src/assets/image/Banner1.svg
  src/assets/image/Banner2.svg
  src/assets/image/Banner3.svg
  src/assets/image/Banner4.svg
Labels: 🔨 Refactor

#59 [feat] 공지사항, 행사 상세 페이지 총학생회 텍스트 추가
  src/pages/News/EventListGuideDetailPage.tsx
  src/pages/News/NoticeListDetailPage.tsx
Labels: 🎨 Html&css

#60 [feat] redirects 추가
  public/_redirects
Labels: 🌏 Deploy

#63 [feat/#62] footer committe api 연결
  src/apis/home.ts
  src/apis/introduction.ts
  src/components/Home/Footer.tsx
  src/components/Introduction/CentralCommitee/CentralCommiteeContent.tsx
  src/components/Introduction/CentralCommitee/StudentOrganization.tsx
  src/styles/Introduction/CentralCommitee/CentralCommiteeContent.ts
  src/styles/Introduction/CentralCommitee/StudentOrganization.ts
Labels: 📬 API

#67 fix: 메인페이지 및 소개페이지 api 수정
  src/apis/home.ts
  src/apis/introduction.ts
Labels: 🐞 BugFix

#69 [fix/#68] 회칙 및 세칙 QA 수정
  index.html
  src/apis/regulations.ts
  src/constants/pathToKoreanMap.ts
  src/pages/Document/RegulationsListPage.tsx
  src/pages/News/EventListPage.tsx
  src/styles/ActivityReport/Coalition/CoalitionPageStyle.ts
  src/styles/Document/RegulationsListPageStyle.ts
  src/styles/Home/Component/HomeCategoryComponentStyle.ts
Labels: 🐞 BugFix

#71 [fix/#70] 소개페이지 줄바꿈 처리
  src/components/Introduction/CentralCommitee/CentralCommiteeContent.tsx
  src/components/Introduction/EachPartIntroduction/EachPartIntroductionContent.tsx
  src/components/Introduction/IntroductionContent.tsx
Labels: 🎨 Html&css

#73 [fix/#72] footer 이미지 api 연동
  src/components/Home/Footer.tsx
Labels: 🐞 BugFix
